= render 'shared/error_messages'

= form_for recipe do |f|
  .form-group
    = f.label :title, '料理名'
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :picture, 'タイトル画像'

    #img_field[onclick="$('#file').click()"]
      // 画像があるときは画像を表示する
      - if @recipe.picture.present?
        = image_tag(@recipe.picture.thumb.url)
      - else
        i.fas.fa-image
        i.fas.fa-file-upload.add
    = f.file_field :picture, class: "image", style: "display:none;", id: "file"


  .form-group
    .row
      .col-md-12
        = f.label :body, '作り方'
        .diary-editor-wrapper
        = f.text_area :body, class: 'form-control',required: true, placeholder: '', data: { provider: 'summernote' }
        javascript:
          $(function () {
            $('[data-provider="summernote"]').each(function(){
              $(this).summernote({
                lang: 'ja-JP',
                height: 1000,
                fontNames: ['Helvetica', 'sans-serif', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                fontNamesIgnoreCheck: ['Helvetica', 'sans-serif', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                toolbar: [
                  ['style', ['bold', 'italic', 'underline', 'clear']],
                  ['fontsize', ['fontsize']],
                  ['insert', ['picture', 'video']],
                  ['para', ['ul', 'ol']],
                ],
                callbacks: {
                  onPictureUpload: function(files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable);
                  }
                }
              });
            })
            function sendFile(file, editor, welEditable) {
              data = new FormData();
              data.append('upload_image', file);
              $.ajax({
                url: '/post_image',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data) {
                  $('[data-provider="summernote"]').summernote('insertImage', data.url);
                },
                error: function() {
                  alert('画像のアップロードに失敗しました');
                }
              });
            }
          })


  .form-group
    span
      | タグ
    = f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag|
      .form-check
        = tag.label class: 'form-check-label' do
          = tag.check_box class: 'form-check-input'
          = tag.text


  = f.submit '保存', class: 'btn btn-primary'
