/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */


@import "bootstrap";
@import "base";
@import "home";
@import "comments";
@import "recipes";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "comments";
@import "likes";
@import "users";
@import "sns";

// エディターの幅調整

img {
	max-width: 100%;

}
// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}
// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    }

//アラートのmargin補正
.no-gutters {
  margin:0;
}

.no-gutters　> .alert,{
	margin: 0;
}
//アラートのmargin補正ここまで

//ヘッダー固定による補正
body {
  padding-top: 66px;
}

//フッダー
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 180px;
}
.footer {
  position: absolute;

  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f4eaba;
}

.footer_container {
  height: 120px;
  text-align: center;
  color: #7e7c7c;
}


.footer-main_text {
  padding-top: 30px;
  font-size: 30px;
}

//ヘッダー
ul.header_search_dropmenu {
  list-style: none;
  display: table;
  table-layout: fixed;
}
ul.header_search_dropmenu > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  //border: 1px solid #f8f8f8;
  //background: #f8f8f8; /* 背景色*/
}
ul.header-dropmenu li a {
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
ul.header_search_dropmenu li ul {
  visibility: hidden;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 130%;
  left: -1px;
  margin: 0;
  padding: 0;
}
ul.header_search_dropmenu li:hover ul {
  visibility: visible;
  
}
ul.header_search_dropmenu li ul li {
  background: #edde6a;
  transition: all .2s ease;
  
}
ul.header_search_dropmenu > li:hover {
  bottom: -1px;
  opacity: 1;
  visibility: visible;
  text-decoration: underline;
}
ul.header_search_dropmenu li:hover ul li:hover {
  background: #ffe359;
  text-decoration: underline;
}