// ヘッダー
.navbar-brand {
  background: url("logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

nav-white {
  color: white;
}
//トップ画面
.home-background {
  background-image: image-url("background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.home-container {
  position: relative;
  width: 100%;
  height: 1500px;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

.home-inside {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
}

.home-title  {
  font-size: 60px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px gray;
  margin-bottom: 20px;
}

.home-text {
  font-size: 20px;
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 2px gray;
}

.sign-in-messages {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.well {
  min-height: 20px;
    padding: 19px 19px 39px 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
    box-shadow: 0 0 15px rgba(255,255,255,.3);
    box-shadow: inset 0 0 15px rgba(0,0,0,.3);
}

.login-btn {
  margin-bottom: 25px;
}
