// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipes__searchForm {
  display: inline-block;
}

.recipes__select {
  display: inline-block;
  width: auto;
}

.card {
  width: 300px;
  float: left;
}

.container {

}

.recipe-header {
  border-bottom: solid 3px #a8a8a8;
  padding-bottom: 15px;
}

.recipe_title_image {
  margin-bottom: 15px;
}

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #E0DCDC;
  color: #ffffff;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #d2d4d6;
  line-height: 250px;
  transition: 0.3s ease-out;
  margin-left: 150px;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #ffba70;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #ffffff;
}

//index 削除ボタン
.btn-outline-dark {
  float: right;
}

//いいねボタン
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.good {
  float: left;
  margin: 3px;
}

.tag_icon {
  margin: 3px;
  font-size: 15px;
}
