// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipes__searchForm {
  display: inline-block;
}


.recipes__select {
  display: inline-block;
  width: auto;
}

.card {
  width: 300px;
  float: left;
}



.recipe-header {
  height: 300px;
}

.recipe_title_image {
  margin-bottom: 15px;
}

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #E0DCDC;
  color: #ffffff;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #d2d4d6;
  line-height: 250px;
  transition: 0.3s ease-out;
  margin-left: 150px;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #ffba70;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #ffffff;
}

//index 削除ボタン
.btn-outline-dark {
  float: right;
}

.page-title {
  h1 {
    position: relative;
    padding: 0.25em 0;

    &::after {
      content: "";
      display: block;
      height: 4px;
      background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
      background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
    }
  }
}

.recipe-header-item {
  float: left;
  margin: 10px;
}

.tag_icon {
  margin: 3px;
  font-size: 15px;
}

.recipe-body {
  padding-bottom: 30px;

  h1 {
  position: relative;
  padding: 5px 26px 5px 42px;
  background: #fff0d9;
  font-size: 20px;
  color: #2d2d2d;
  line-height: 1.3;
  border-bottom: solid 3px orange;
  z-index:-2;
  }
}

.recipe-card {
  width: 100%;
  height: auto;
}

.recipe-precedences {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid black ;
}

.recipe-index {
  height: 30px;
  background-color: #ffefd6;
  font-size: 16px;

  p {
    padding: 2px 10px 2px 15px

  }
}

.recipe-card-body {
  padding: 10px 10px 0 20px;
}

.comment__listTitle h3{
    position: relative;
    padding: 0.6em;
    background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    border-radius: 7px;

  &::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #ffebbe;
    width: 0;
    height: 0;
  }
}

.nested-fields {
  margin-bottom: 40px;
}

.procedures-fields {
  border: 1px solid #ffa13d;
  padding: 6px
}

.img_prev {
  width: 200px;
  height: 150px;
}

.procedures-preview {
  margin-bottom: 5px;
}

.procedures-remove {
  margin-top: 5px;
  float: right;
}
.links {
  margin-top: -30px;
}
